@model VSDev.MVC.ViewModels.CursoViewModel

@{
    ViewData["Title"] = "Delete";
}

<h3>Você deseja realmente excluir o curso @Model.Titulo?</h3>
<div class="mt-3">
    <h4>@Model.Titulo</h4>
    <hr />
    <div class="row">
        <div class="col-4 text-center">
            <img src="~/imagens/curso/@Model.ImagemCapa" style="width: 200px; height: 200px; " />
        </div>
        <div class="col-8">
            <dl class="row">
                <dt class="col-sm-12">
                    Situação
                </dt>
                <dd class="col-sm-12">
                    @((Model.Ativo) ? Html.Raw("<span class='text-success'><i class='fa fa-check mr-2'></i>Ativo</span>") : Html.Raw("<span class='text-danger'><i class='fa fa-times mr-2'></i>Inativo</span>"))
                </dd>
                <dt class="col-sm-12">
                    @Html.DisplayNameFor(model => model.Titulo)
                </dt>
                <dd class="col-sm-12">
                    @Html.DisplayFor(model => model.Titulo)
                </dd>
                <dt class="col-sm-12">
                    @Html.DisplayNameFor(model => model.Descricao)
                </dt>
                <dd class="col-sm-12">
                    @Html.DisplayFor(model => model.Descricao)
                </dd>
                <dt class="col-sm-12">
                    @Html.DisplayNameFor(model => model.Valor)
                </dt>
                <dd class="col-sm-12">
                    @Model.Valor.ToString("C")
                </dd>
                <dt class="col-sm-12">
                    @Html.DisplayNameFor(model => model.DuracaoEmHoras)
                </dt>
                <dd class="col-sm-12">
                    @Html.DisplayFor(model => model.DuracaoEmHoras)
                </dd>
                <dt class="col-sm-12">
                    @Html.DisplayNameFor(model => model.Professor)
                </dt>
                <dd class="col-sm-12">
                    @Html.DisplayFor(model => model.Professor.Nome)
                </dd>
            </dl>
        </div>
    </div>

    <div>
    </div>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <a class="btn btn-info" href="javascript:window.history.back();">
            <i class="fa fa-arrow-left mr-2"></i>
            Voltar
        </a>
        <button type="submit" class="btn btn-danger">
            <i class="fa fa-trash mr-2"></i>
            Confirmar exclusão
        </button>
    </form>
