@model VSDev.MVC.ViewModels.ProfessorViewModel

<div>
    <h4>Detalhes do Professor @Model.Nome</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-12">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-12">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-12">
            @Html.DisplayNameFor(model => model.Documento)
        </dt>
        <dd class="col-sm-12">
            @Html.DisplayFor(model => model.Documento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataNascimento)
        </dt>
        <dd class="col-sm-12">
            @Html.DisplayFor(model => model.DataNascimento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Genero)
        </dt>
        <dd class="col-sm-12">
            @Html.DisplayFor(model => model.Genero)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-12">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Celular)
        </dt>
        <dd class="col-sm-12">
            @((string.IsNullOrEmpty(Model.Celular)) ?  Html.Raw("Não informado") : Html.DisplayFor(model => model.Celular))
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-info" asp-action="Index">
        <i class="fa fa-arrow-left mr-2"></i>Voltar
    </a>
    <a type="submit" class="btn btn-warning" asp-action="Edit" asp-route-id="@Model.Id">
        <i class="fa fa-edit mr-2"></i>Editar registro
    </a>
</div>
<div class="col-12">
    <hr />
    <h4 class="mb-3">Endereço</h4>
    <partial name="_DetalhesEndereco" />
</div>